{% extends "base.html" %}

    {% block head %}
    <title>Sentiment Coin Selector</title>
    {% endblock %}
    {% block body %}

        <h2>Coin Twitter Sentiment</h2>
        <p>Select a coin to view its market sentiment</p>
        <br>
        <a href="/" class="btn btn-warning">Back</a>
        <br>
        <br>
        <form class="form" method="POST" action="/sentiment">
            <div class="form-group jumbotron" style="width: 51%; background: rgba(255, 255, 255, 0.9); padding: 3% 3%;">
                <span class="input-group-addon">Please select a cryptocurrency</span>
                <br>
                <br>
                <div class="form-inline">
                    <div class="input-group">
                        <select name="selectedCoin" class="selectpicker form-control"
                        data-live-search="true" data-size="6">
                            {% for coin in cryptoCoins %}
                                <option value="{{ coin }}">{{ coin }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-warning" value="Submit" onclick="loading();">
                          <div id="loading"></div>
      <div id="content">

      </div>View Market Sentiment</button>

                </div>
            </div>
        </form>
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<script type="text/javascript">
  function loading(){
      $("#loading").show();
      $("#contents").hide();
  }
</script>
    {% endblock %}