#background {
    background: #fff7c2;
}

.jumbotron {
    background: white !important;
}

/*######## Navbar ########*/
.nav-item {
    padding: 0 5;
}

.navbar-nav a:hover:not(.dropdown-item){
    background-color: black;
    /*some effect when uncommenting this and commenting transition
    padding: 10px 10px;*/
    transition: 0.3s;
}


.navbar-nav > li {
    text-align: center;
}

.input-group {
    left: 20;
}


/*######## Body ########*/
/*.head-text {
    padding: 20px 0;
}*/

.img-responsive {
    height: 30;
}

.member-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:250px;
    height:250px;
    border-radius: 50%;
}

.member-data {
    text-align: center;
}

/*######## Footer ########*/
.card .socials > li {
    position: relative;
    float: none;
    display: inline-block;
    padding: 0 9%;
    font-size: 25px;
}


.footer-top {
    color: black;
}

.footer-bottom {
    background: #454545;    /* hardcoded AF to match header colour...*/
    color: white;
    height: 50px;
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 0px;
    left: 0px;
    padding-top: 14px;
}

body,h1,h2,h3,p {
    font-family: Bookman !important;
}